body {
    --green: 0, 88, 0; /* Anything with >0.69 opacity should have white text */

    --gray: 88, 88, 88;
    
    --cell-size: 1.5rem;

    
}
* {
    font-family: 'Courier New', Courier, monospace;
}

.hide {
    visibility: hidden;
    position: absolute;
    left: -100vw;
    top: -100vh;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
h1 {
    margin: 0;
}
.bold {
    font-weight: bold;
}

#main {
    display: flex;
    height: 100%;
    width: 100%;
}

#calendar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-right: 1px solid black;
    flex: 1 0 calc(50% - 1rem);
}

#calendar-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#calendar {
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
    justify-content: space-around;
    user-select: none; 
    overflow: auto;
    /* height: 100%; */
}

#year {
    margin-left: 1rem;
    margin-top: 1rem;
}

.month-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1 0 25%;
}

th, td {
    height: var(--cell-size);
    width: var(--cell-size);
    text-align: center;
    vertical-align: middle;
}
.day {
    border-radius: 0.25rem;
}
.day:hover {
    font-weight: bold;
    cursor: pointer;
}
.day.viewing {
    font-weight: bold;
}

.active {
    background-color: rgba(var(--green), 0.8) !important;
    color: white;
}
.today {
    text-decoration: underline;
}

/* today.html */

#tasks-container {
    --margin: 1rem;
    display: flex;
    flex-direction: column;
    margin: var(--margin);
    overflow: auto;
    flex: 1 0 calc(50% - var(--margin));
    gap: 1rem;
}

#tasks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
}

#tasks-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#tasks-top-menu {
    border: 1px solid gray;
    border-radius: 0.5rem;
    height: 1.5rem;
    padding: 0.5rem;
    background-color: rgba(var(--gray), 0.25);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.task-options {
    float: right;
    height: 100%;
}
.menu-item {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 0.5rem;
}

.task {
    display: block;
    width: 100%;
    border: 1px solid gray;
    border-radius: 0.5rem;
    cursor: pointer;
    position: relative;
    padding: 0 1rem;
}
.task.done {
    text-decoration: line-through;
    background-color: rgba(var(--green), 0.2);
    border-color: rgb(var(--green), 0.6);
}
.task.pass {
    text-decoration: line-through;
    background-color: rgba(var(--gray), 0.2);
    color: gray;
    font-style: italic;
}
.task:hover {
    text-decoration: underline;
}
.task.done:hover,
.task.pass:hover {
    text-decoration: underline line-through;
}

.menu-item * {
    display: flex;
}

.trash:hover {
    fill: rgb(255, 0, 0);
}
.trash:active {
    fill: rgb(150, 0, 0);
}

.no-view {
    opacity: 0.25;
}
.view:hover .no-view {
    opacity: 0.4;
}
.yes-view {
    opacity: 1;
}
.view:hover .yes-view {
    opacity: 0.65;
}

.edit {
    opacity: 1;
}
.edit:hover{
    opacity: 0.65;
}


.select-box {
    display: block;
    position: relative;
    float: left;
    border: 1px solid gray;
    border-radius: 0.25rem;
    width: 1rem;
    height: 1rem;
    margin: 0.25rem;
    margin-bottom: 0;
    z-index: 99;
}
.select-box.checked {
    background-color: gray;
}

.task-name-container {
    display: inline;
}
.task-name {
    font-size: 1.5rem;
    text-align: center;
    user-select: none; 
}

.add-icon {
    margin-top: 0.25rem;
    margin-left: 0.25rem;
}

.add-text {
    font-size: 1.5rem;
    /* text-align: center; */
    height: 1.5rem;
    width: 100%;
    border: 0;
    background-color: initial;
}