<div class="month-container">
    <span>{{ month_name[month] }}</span>
    <table class="month">
        <thead>
            <tr>
                <th>S</th>
                <th>M</th>
                <th>T</th>
                <th>W</th>
                <th>T</th>
                <th>F</th>
                <th>S</th>
            </tr>
        </thead>
        <tbody>
{% for week in month_days %}
            <tr>
    {% for day in week %}
        {% if day is none %}
                <td class="blank"></td>
        {% else %}
            {% set date = year.__str__() + '-' + format_num(month) + '-' + format_num(day) %}
                <td
                    id="date-{{date}}"
                    class="day {{ 'today viewing' if dt_to_str(now).startswith(date) }} {{ 'active' if date in active_dates }}"
                    data-date={{date}}
                    data-now="{{dt_to_str(now)}}"
                    onclick="getDayData(this)"
                >
                    {{ day }}
                </td>
        {% endif %}
    {% endfor %}
            </tr>
{% endfor %}
        </tbody>
    </table>
</div>